<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Christophior</title>
		<meta name="description" content="Herald Chris Villarreal Software Engineer" />
		<meta name="keywords" content="christophior, chris, villarreal, chrisvillarreal" />
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
		<link rel="shortcut icon" href="/img/favicon.ico">
	</head>
	<body>
		<aside id="cover">

			<div id="links">
				<div class="resume"><a href="/resume">RESUME</a></div>
				<div class="linkedin"><a href="http://www.linkedin.com/in/christophior">LINKEDIN</a></div>
				<div class="github"><a href="https://github.com/christophior">GITHUB</a></div>
				<div class="contact"><a href="mailto:chrisvillarreal1018@gmail.com">CONTACT</a></div>
			</div>

			<div id="title">
				<div class="avatar"></div>
				<div class="name">Herald Chris Villarreal</div>
				<div class="sub-name">Software Engineer</div>
			</div>

		</aside>
	</body>
</html>
