<!DOCTYPE HTML>
<html>
<head>
	<title>Cristhian Jesus Escobar</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Personal site of Herald Chris Villarreal. PayPal software engineer from Austin, Texas." />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]--><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
        <link rel="stylesheet" href="css/foundation-icons.css" />
        <link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-xlarge.css" />
	</noscript>
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="css/v9.css" />
	<![endif]-->
</head>
<body class="landing">
<div id="wrapper">
	<header id="header">
		<p><big>Welcome! I'm Cristhian Escobar.</big></p>
		<div class="avatar"></div>

		<p>I am an University of Texas alumnus and Mutual Mobile Android Engineer.</p>
		
		<ul class="icons">
			<li><a href="/resume" class="icon icon-resume"><span>Resume</span></a></li>
			<li><a href="http://github.com/cristhianescobar" class="icon icon-github"><span>GitHub</span></a></li>
			<li><a href="https://www.linkedin.com/in/cristhianescobar" class="icon icon-linkedin"><span>Linkedin</span></a></li>
			<li><a href="mailto:escobarcristhian18@gmail.com" class="icon icon-envelope"><span>Email</span></a></li>
			<li><a href="https://seelio.com/escobarcristhian" class="icon icon-projects"><span>Projects</span></a></li>
		</ul>
		<div>
			<p>LET ME TELL YOU A LITTLE BIT ABOUT MYSELF. I AM FROM CUERNAVACA, MORELOS MEXICO, I CAME TO THE UNITED STATES WHEN I WAS ABOUT 14. UNLIKE OTHER PEOPLE THAT COME TO THIS COUNTRY I CAME HERE WITHOUT ANY PRIOR KNOWLEDGE OF THE ENGLISH LANGUAGE. WITHIN A YEAR I FOUND MYSELF FITTING INTO THE CULTURE. WHAT I REALLY WANT TO TELL YOU IS HOW MY INTEREST FOR COMPUTERS STARTED. 
			IN 2006 I BOUGHT MY FIRST COMPUTER, NOT FROM THE STORE BUT AT A GARAGE SALE SINCE THAT WAS ALL I COULD AFFORD. I BOUGHT THE COMPUTER BECAUSE I WANTED TO TYPE OUT MY HOMEWORK TO MAKE IT MORE PRESENTABLE. SOON AFTER I HAD ENOUGH MONEY SAVED FOR A PRINTER AND BOUGHT IT, RIGHT WHEN I WAS INSTALLING IT, A MESSAGE SHOWED UP ON THE SCREEN INDICATING I NEEDED MORE SPACE. I TOOK IT TO A LOCAL COMPUTER REPAIR SHOP, AND THEY FIXED MY PROBLEM AND MY POCKET TOO. I VISITED THAT SAME SHOP VERY OFTEN AFTER THAT ONE TIME. EACH TIME IT WAS FOR DIFFERENT REASONS OF COURSE, LACK OF RAM, MEMORY, ETC. EVER SINCE THEN, I BECAME INTERESTED TO SEE HOW IT ALL WORKED OUT IN REALITY. I WAS EAGER TO LEARN ABOUT THESE MAGIC MACHINES... THIS IS HOW MY PASSION STARTED.</p>
		</div>
	</header>
	

</div>
<footer id="footer"></footer>
<div id="bg"></div>
</body>
</html>