<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Resume</title>
		<meta name="description" content="Herald Chris Villarreal Software Engineer" />
		<meta name="keywords" content="christophior, chris, villarreal, chrisvillarreal" />
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
		<link rel="shortcut icon" href="/img/favicon.ico">
	</head>
	<body>
		<aside id="cover">

				<div id="links">
					<div class="resume"><a href="/">HOME</a></div>
					<div class="linkedin"><a href="http://www.linkedin.com/in/christophior">LINKEDIN</a></div>
					<div class="github"><a href="https://github.com/christophior">GITHUB</a></div>
					<div class="contact"><a href="mailto:chrisvillarreal1018@gmail.com">CONTACT</a></div>
				</div>

				<div class="resumeDisplay">
					<iframe class="resumeDoc" src="http://docs.google.com/viewer?url=https%3A%2F%2Fdl.dropboxusercontent.com%2Fu%2F3848960%2FHerald%2520Chris%2520Villarreal%2520Resume.pdf&embedded=true">
						<div class="sub-name"><br><br>It appears you don't have Adobe Reader or PDF support in this web browser. <a href="https://dl.dropboxusercontent.com/u/3848960/Herald%20Chris%20Villarreal%20Resume.pdf">Click here to download the PDF.</a>
						</div>
					</iframe>
				</div>
				
				<div class="footer"><div class="sub-name">christophior</div></div>
			</aside>
	</body>
</html>	